# qzz/fekit/grunt
/dev/
/prd/
/refs/
/.ver/
/.build/
/build/

/node_modules/
#sync.json


.tern-project
*.DS_Store

# kdiff3 ignore
*.orig

#sketch
*.sketch
# maven ignore

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
#sass ignore
.sass-cache

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
