
.btn {
    border : 1px solid #ddd;
    color : #666;
    font-size : 14px;
    height : 32px;
    line-height : 32px;
    min-width : 80px;
    border-radius : 0px;
    padding : 0px;

    &.hl {
        background-color : #ff6701;
        border-color : #ff6701;
        color : #fff;
    }
}
